<h2 class="mb-5 mt-5 text-muted" style="text-align: center; font-weight: 700;">2020 WRC Drivers</h2>

<!-- <div class="container">
    <div class="row">
        <div class="col-4 mb-4" *ngFor="let driver of drivers">
            <div class="card" style="justify-content: space-around; max-width: 400px;">
                <img class="card-img-top" src="{{ driver.driverPic }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight: 700;">{{ driver.driverName }}</h5>
                    <p class="card-text">Country: <span style="font-weight: 600;">{{ driver.country }}</span></p>
                    <p class="card-text"> Team: <span style="font-weight: 600;">{{ driver.team }}</span></p>
                    <p class="card-text">Co-driver: <span style="font-weight: 600;">{{ driver.codriver }}</span></p>
                    <a href="#" class="btn btn-secondary">More informations</a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <app-driver-preview *ngFor="let driver of drivers" [driver]="driver" class="col-lg-4 col-sm-6 mb-4">
        </app-driver-preview>
    </div>
</div>