<div class="card" style="justify-content: space-around; max-width: 400px;">
    <img class="card-img-top" src="{{ team.teamPic }}" alt="Card image cap" style="max-height: 180px;">
    <div class="card-body">
        <h5 class="card-title" style="font-weight: 700;">{{ team.teamName }}</h5>
        <p class="card-text">Director: <span style="font-weight: 600;">{{ team.director }}</span></p>
        <p class="card-text">Car: <span style="font-weight: 600;">{{ team.car }}</span></p>
        <p class="card-text">Titles: <span style="font-weight: 600;">{{ team.titles }}</span></p>
        <a href="#" class="btn btn-secondary">More informations</a>
    </div>
</div>