<div class="card" style="justify-content: space-around; max-width: 400px;">
    <img class="card-img-top" src="{{ testdrive.testdrivePic }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title" style="font-weight: 700;">{{ testdrive.title }}</h5>
        <p class="card-text">Posted by: <span style="font-weight: 600;">{{ testdrive.driverName }}</span></p>
        <p class="card-text">Date: <span style="font-weight: 600;">{{ testdrive.date }}</span></p>

        <p class="card-text">Link: <a href="{{ testdrive.link }}" style="font-weight: 600;">{{ testdrive.link }}</a>
        </p>
        <p class="card-text">Description: <span class="font-italic">{{ testdrive.description }}</span></p>

        <a href="#" class="btn btn-secondary">More informations</a>
    </div>
</div>